/* Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* /Reset */
body{
  color: #929292;
}

/* dimensionamento container */
.container{
  margin: auto;
  width: 80%;
  height:  100%;

}
/* /dimensionamento container */
/* header */
header{
  height: 100px;
  margin-bottom: 20px;
  padding: 5px;
}

.logo{
  width: 130px;
  height: 50px;
  margin-bottom: 25px;
}
.logo img{
  max-width: 100%;
}

nav ul li{
  display: inline-block;
  list-style: none;
}

ul li{
  margin-right: 20px;
}

ul li a{
  text-decoration: none;
  color: #858585;
  text-transform: uppercase;

}
/* /header */
/* banner */
.banner{
  height: 500px;
  background-image: url('../img/banner.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-bottom: 20px;
  position: relative;
}
.overlay{
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 0;
  border-radius: 10px;
}
.message{
  position: absolute;
  bottom: 20%;
  left: 5%;
  color: white;
}
.message h3{
  font-size: 30px;
}
.message p{
  font-size: 18px;
}
/* /banner */
/* main */
.section-row{
  margin: 2% 0;
}
.section-row h2{
  color: black;
  font-size: 40px;
}
.section-row p{
  font-size: 20px;
}

.columns{
  height: 600px;
  margin-bottom: 1%;
}
.columns::after{
  content: '';
  display: block;
  clear: both;
}
.left-column, .right-column{
  width: 25%;
  height: 98%;
  background-color: lightblue;
  float: left;
}
.mid-column{
  width: 48%;
  height: 98%;
  background-color: lightblue;
  float: left;
  margin: 0 1%;
}
/* /main */
/* footer */
footer{
  height: 50px;
  background-color: purple;
}
/* /footer */
